# 1. Input

### 1. 경로설정

우선 os, sys 라이브러리를 가져와 상대경로의 기준을 설정합니다.

#### 이 과정은 사용자가 어떤 디렉토리에서 활동하더라도 상대 경로를 활용할 수 있도록 합니다.

In [52]:
import os, sys

path_name= os.path.dirname(os.path.abspath(os.getcwd()))
sys.path.append(path_name)
print(path_name)

C:\Studying\Project_Nextop\nextopt-engine

### 2. Read Libraries

In [53]:
from Engine.Data.IO import IO
from Engine.Data.preprocessing import Preprocessing
from Engine.Model.model import *
from Engine.Evaluator.evaluator import Evaluator

In [54]:
import pandas as pd

### 3. Read Data

In [55]:
data_dir= "C:\\Studying\\Project_Nextop\\nextop-engine\\nextop_engine\\_element\\data\\rawdata"
data_filename= "KPP일별_투입량.xlsx"
print(data_dir+'\\'+data_filename)

C:\Studying\Project_Nextop\nextop-engine\nextop_engine\_element\data\rawdata\KPP일별_투입량.xlsx

In [56]:
df= IO.read_xlsx(data_filename, data_dir)
df.head()

     회사코드        일자  유형코드  수량
0  298141  20100101  1815   8
1  296285  20100101  1815  20
2  295537  20100101  1815   4
3  294932  20100101  1815  10
4  294837  20100101  1815  10

# 2. Preprocessing

### 1. Restruct Data by date & pallet

In [57]:
df_revised= df.preprocessing.make_dataframe_by_pallet()

In [112]:
df_revised.head()

,1025,1041,1057,1091,1111,1117,1119,1127,1163,1216,...,1745,1754,1797,1800,1815,1817,1852,1853,1878,1891
2010-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2652.0,0.0,0.0,0.0,0.0,0.0
2010-01-02,192.0,6260.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,112.0,337.0,0.0,0.0,26443.0,0.0,0.0,459.0,626.0,0.0
2010-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,404.0,0.0,0.0,0.0,0.0,0.0
2010-01-04,0.0,5141.0,0.0,320.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,154.0,576.0,0.0,22924.0,0.0,0.0,3445.0,3305.0,0.0
2010-01-05,130.0,5494.0,0.0,1186.0,0.0,0.0,0.0,0.0,0.0,16.0,...,768.0,367.0,294.0,0.0,39081.0,320.0,0.0,3861.0,4362.0,238.0

### 2. Split Train/Test Data

In [59]:
df_train, df_test= df_revised.preprocessing.split_dataframe_by_train_test(horizon= 30)

In [62]:
df_train.tail()

                  y
ds
2017-10-27  80121.0
2017-10-28  49909.0
2017-10-29    320.0
2017-10-30  74045.0
2017-10-31  79806.0

In [61]:
df_test.head()

                  y
ds
2017-11-01  75861.0
2017-11-02  83256.0
2017-11-03  82649.0
2017-11-04  42707.0
2017-11-05    105.0

# 3. Run Engine Models

### 1. Exponential Moving Average

In [63]:
model = ExponentialMovingAverage(train = df_train, test = df_test, frequency=365)

In [64]:
model.fit_and_forecast(horizon=30)

In [65]:
model.fit_df.head()

                   yhat
ds
2010-01-01          NaN
2010-01-02  2652.000000
2010-01-03  3162.015243
2010-01-04  3102.890792
2010-01-05  3527.802222

In [66]:
model.forecast_df.head()

,yhat,yhat_lower_80,yhat_upper_80,yhat_lower_95,yhat_upper_95
ds,,,,,
2017-11-01,61691.134998,32636.323750,90745.946245,17255.635753,106126.634243
2017-11-02,61691.134998,32629.648322,90752.621673,17245.426567,106136.843428
2017-11-03,61691.134998,32622.974428,90759.295568,17235.219726,106147.050269
2017-11-04,61691.134998,32616.302065,90765.967930,17225.015228,106157.254767
2017-11-05,61691.134998,32609.631233,90772.638762,17214.813071,106167.456924

### 2. STL

In [67]:
model = STL(train = df_train, test = df_test, frequency=365)

In [68]:
model.fit_and_forecast(horizon=365)

KeyError: 'Y'

In [ ]:
model.fit_df.head()

In [ ]:
model.forecast_df.head()

### 3. HoltWinters

In [69]:
model = HoltWinters(train = df_train, test = df_test, frequency=365)

In [70]:
model.fit_and_forecast(horizon=30)

In [71]:
model.fit_df.head()

            yhat  level  trend  season
ds
2010-01-01   NaN    NaN    NaN     NaN
2010-01-02   NaN    NaN    NaN     NaN
2010-01-03   NaN    NaN    NaN     NaN
2010-01-04   NaN    NaN    NaN     NaN
2010-01-05   NaN    NaN    NaN     NaN

In [72]:
model.forecast_df.head()

,yhat,yhat_lower_80,yhat_upper_80,yhat_lower_95,yhat_upper_95
ds,,,,,
2017-11-01,66767.404615,32995.511976,100539.297255,15117.751926,118417.057304
2017-11-02,63819.504948,30047.553697,97591.456199,12169.762621,115469.247275
2017-11-03,74679.807605,40907.795897,108451.819313,23029.972817,126329.642394
2017-11-04,71338.184678,37566.110638,105110.258718,19688.254562,122988.114795
2017-11-05,57284.077937,23511.939662,91056.216211,5634.049582,108934.106292

### 4. Arima with no seasonality

In [73]:
model = AutoArima(train=df_train, test=df_test, frequency=365, seasonal=False)

In [74]:
model.fit_and_forecast(horizon=30)

In [75]:
model.fit_df.head()

                    yhat
ds
2010-01-01   2649.358778
2010-01-02   9982.394979
2010-01-03  16243.484076
2010-01-04   4153.230515
2010-01-05  25571.597658

In [76]:
model.forecast_df.head()

,yhat,yhat_lower_80,yhat_upper_80,yhat_lower_95,yhat_upper_95
ds,,,,,
2017-11-01,71579.370353,47511.876574,95646.864133,34771.314966,108387.425740
2017-11-02,73256.446564,48265.997178,98246.895950,35036.852386,111476.040742
2017-11-03,53489.707234,27189.437915,79789.976553,13266.916334,93712.498134
2017-11-04,57201.150290,30149.085947,84253.214633,15828.588120,98573.712461
2017-11-05,55786.964318,27817.910886,83756.017751,13011.988357,98561.940280

### 5. Arima with seasonality

In [77]:
model = AutoArima(train=df_train, test=df_test, frequency=365, seasonal=True)

In [78]:
model.fit_and_forecast(horizon=30)

In [79]:
model.fit_df.head()

                    yhat
ds
2010-01-01   2649.358778
2010-01-02   9982.394979
2010-01-03  16243.484076
2010-01-04   4153.230515
2010-01-05  25571.597658

In [80]:
model.forecast_df.head()

,yhat,yhat_lower_80,yhat_upper_80,yhat_lower_95,yhat_upper_95
ds,,,,,
2017-11-01,71579.370353,47511.876574,95646.864133,34771.314966,108387.425740
2017-11-02,73256.446564,48265.997178,98246.895950,35036.852386,111476.040742
2017-11-03,53489.707234,27189.437915,79789.976553,13266.916334,93712.498134
2017-11-04,57201.150290,30149.085947,84253.214633,15828.588120,98573.712461
2017-11-05,55786.964318,27817.910886,83756.017751,13011.988357,98561.940280

이후에는 Multi-Seasonality를 적용할 수 있는 알고리즘입니다.

#### 이 때에는 frequency를 list로 작성해야 합니다.

### 6. TBATS with single seasonality

In [81]:
model = TBATS(train=df_train, test=df_test, frequency=[365])

In [82]:
model.fit_and_forecast(horizon=30)

In [83]:
model.fit_df.head()

                    yhat
ds
2010-01-01  28206.742183
2010-01-02  25855.619666
2010-01-03  32707.764133
2010-01-04  25209.209820
2010-01-05  35362.071673

In [84]:
model.forecast_df.head()

,yhat,yhat_lower_80,yhat_upper_80,yhat_lower_95,yhat_upper_95
ds,,,,,
2017-11-01,78380.381719,57406.763196,99363.898688,46309.168208,110475.149351
2017-11-02,71607.982648,50549.919165,92676.997183,39408.344878,103833.782523
2017-11-03,52890.110003,31533.071000,74262.615549,20236.906332,85581.123021
2017-11-04,45201.521983,23852.069702,66569.268875,12562.941839,77885.826487
2017-11-05,46526.766494,25128.178291,67943.169741,13812.457415,79285.395983

### 7. TBATS with multi seasonality

In [85]:
model = TBATS(train=df_train, test=df_test, frequency=[7,365])

In [86]:
model.fit_and_forecast(horizon=30)

In [87]:
model.fit_df.head()

                    yhat
ds
2010-01-01  29341.866794
2010-01-02  23428.333536
2010-01-03  31791.749076
2010-01-04  23801.808569
2010-01-05  21050.809868

In [88]:
model.forecast_df.head()

,yhat,yhat_lower_80,yhat_upper_80,yhat_lower_95,yhat_upper_95
ds,,,,,
2017-11-01,70364.031396,53789.864637,86938.198156,45016.030742,95712.032051
2017-11-02,60990.611382,44405.314556,77575.908208,35625.588759,86355.634005
2017-11-03,76604.568678,59978.106309,93231.031048,51176.588790,102032.548567
2017-11-04,62657.444395,46028.086750,79286.802040,37225.036565,88089.852225
2017-11-05,32175.490650,15505.559598,48845.421703,6681.031149,57669.950152

### 8. AutoRegressiveNN with single seasonality

In [38]:
model = AutoRegressiveNN(train=df_train, test=df_test, frequency=[365])

In [39]:
model.fit_and_forecast(horizon=30)

In [40]:
model.fit_df.head()

            yhat
ds
2010-01-01   NaN
2010-01-02   NaN
2010-01-03   NaN
2010-01-04   NaN
2010-01-05   NaN

In [41]:
model.forecast_df.head()

                    yhat
ds
2017-11-01  52603.573654
2017-11-02  54437.192296
2017-11-03  40069.947986
2017-11-04  20378.247030
2017-11-05   3945.816837

### 9. AutoRegressiveNN with multi seasonality

In [89]:
model = AutoRegressiveNN(train=df_train, test=df_test, frequency=[7,365])

In [90]:
model.fit_and_forecast(horizon=30)

In [91]:
model.fit_df.head()

            yhat
ds
2010-01-01   NaN
2010-01-02   NaN
2010-01-03   NaN
2010-01-04   NaN
2010-01-05   NaN

In [92]:
model.forecast_df.head()

                    yhat
ds
2017-11-01  60774.663162
2017-11-02  62823.215876
2017-11-03  49237.259562
2017-11-04  25184.301459
2017-11-05   1067.699702

# 4. Check the Evaluation Rate of Result

In [93]:
result= Evaluator(df_test, model.forecast_df)

In [94]:
result.rmse

19340.4555081345

In [95]:
result.mape

3056.6410553753494

In [96]:
result.smape

26.395078551493107