In [1]:
import os, sys

In [2]:
path_name= os.path.dirname(os.path.abspath(os.path.dirname(os.path.abspath(os.getcwd()))))
sys.path.append(path_name)
print(path_name)

C:\Studying\Project_Nextop\nextopt-engine

In [3]:
from Engine.Data import IOinput, IOoutput, preprocessing

In [4]:
data_dir= "{}\\Data\\발주".format(path_name)
data_filename= "KPP일별_발주_유형별전처리.csv"
print(data_dir+'\\'+data_filename)

C:\Studying\Project_Nextop\nextopt-engine\Data\발주\KPP일별_발주_유형별전처리.csv

In [5]:
df= IOinput.from_csv(data_filename, data_dir)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2891 entries, 2010-01-01 to 2017-11-30
Data columns (total 35 columns):
1025    2891 non-null int64
1041    2891 non-null int64
1057    2891 non-null int64
1091    2891 non-null int64
1111    2891 non-null int64
1117    2891 non-null int64
1119    2891 non-null int64
1127    2891 non-null int64
1163    2891 non-null int64
1216    2891 non-null int64
1242    2891 non-null int64
1261    2891 non-null int64
1298    2891 non-null int64
1355    2891 non-null int64
1373    2891 non-null int64
1375    2891 non-null int64
1376    2891 non-null int64
1390    2891 non-null int64
1396    2891 non-null int64
1627    2891 non-null int64
1652    2891 non-null int64
1656    2891 non-null int64
1692    2891 non-null int64
1729    2891 non-null int64
1745    2891 non-null int64
1754    2891 non-null int64
1797    2891 non-null int64
1800    2891 non-null int64
1815    2891 non-null int64
1817    2891 non-null int64
1852    2891 non-null int64
1853    2891 non-null int64
1878    2891 non-null int64
1891    2891 non-null int64
y       2891 non-null int64
dtypes: int64(35)
memory usage: 813.1+ KB

In [14]:
df.nextoptapi.train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2884 entries, 2010-01-01 to 2017-11-23
Data columns (total 35 columns):
1025    2884 non-null int64
1041    2884 non-null int64
1057    2884 non-null int64
1091    2884 non-null int64
1111    2884 non-null int64
1117    2884 non-null int64
1119    2884 non-null int64
1127    2884 non-null int64
1163    2884 non-null int64
1216    2884 non-null int64
1242    2884 non-null int64
1261    2884 non-null int64
1298    2884 non-null int64
1355    2884 non-null int64
1373    2884 non-null int64
1375    2884 non-null int64
1376    2884 non-null int64
1390    2884 non-null int64
1396    2884 non-null int64
1627    2884 non-null int64
1652    2884 non-null int64
1656    2884 non-null int64
1692    2884 non-null int64
1729    2884 non-null int64
1745    2884 non-null int64
1754    2884 non-null int64
1797    2884 non-null int64
1800    2884 non-null int64
1815    2884 non-null int64
1817    2884 non-null int64
1852    2884 non-null int64
1853    2884 non-null int64
1878    2884 non-null int64
1891    2884 non-null int64
y       2884 non-null int64
dtypes: int64(35)
memory usage: 811.1+ KB

In [15]:
df.nextoptapi.test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, 2017-11-24 to 2017-11-30
Data columns (total 35 columns):
1025    7 non-null int64
1041    7 non-null int64
1057    7 non-null int64
1091    7 non-null int64
1111    7 non-null int64
1117    7 non-null int64
1119    7 non-null int64
1127    7 non-null int64
1163    7 non-null int64
1216    7 non-null int64
1242    7 non-null int64
1261    7 non-null int64
1298    7 non-null int64
1355    7 non-null int64
1373    7 non-null int64
1375    7 non-null int64
1376    7 non-null int64
1390    7 non-null int64
1396    7 non-null int64
1627    7 non-null int64
1652    7 non-null int64
1656    7 non-null int64
1692    7 non-null int64
1729    7 non-null int64
1745    7 non-null int64
1754    7 non-null int64
1797    7 non-null int64
1800    7 non-null int64
1815    7 non-null int64
1817    7 non-null int64
1852    7 non-null int64
1853    7 non-null int64
1878    7 non-null int64
1891    7 non-null int64
y       7 non-null int64
dtypes: int64(35)
memory usage: 2.0+ KB

In [9]:
df.nextoptapi.yy= 'y_sum'

In [10]:
df.nextoptapi.yy

'y_sum'

In [11]:
df.nextoptapi.attribute

[]

In [12]:
df.nextoptapi.term= 7

In [16]:
df.nextoptapi.testY

ds
2017-11-24    120647
2017-11-25     67756
2017-11-26       100
2017-11-27    117480
2017-11-28    122192
2017-11-29    120685
2017-11-30    108386
Name: y, dtype: int64

In [17]:
df.nextoptapi.test

,1025,1041,1057,1091,1111,1117,1119,1127,1163,1216,...,1754,1797,1800,1815,1817,1852,1853,1878,1891,y
ds,,,,,,,,,,,,,,,,,,,,,
2017-11-24,0,8733,272,640,0,0,576,0,0,0,...,610,0,0,70495,0,0,5928,7409,0,120647
2017-11-25,0,5100,181,224,0,0,0,0,0,0,...,0,0,0,43952,0,0,1885,2604,0,67756
2017-11-26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,100,0,0,0,0,0,100
2017-11-27,0,4866,489,448,0,0,416,0,0,0,...,480,0,0,75686,224,0,5417,5513,0,117480
2017-11-28,0,5723,846,0,0,0,633,0,0,0,...,750,0,0,77009,224,0,7159,6178,0,122192
2017-11-29,0,6732,0,416,0,0,990,0,0,0,...,670,0,0,77341,224,0,4847,5062,0,120685
2017-11-30,0,6909,254,596,0,0,160,0,0,0,...,0,18,0,68600,0,0,5586,4166,0,108386