# 1. Input

### 1. 경로설정

우선 os, sys 라이브러리를 가져와 상대경로의 기준을 설정합니다.

#### 이 과정은 사용자가 어떤 디렉토리에서 활동하더라도 상대 경로를 활용할 수 있도록 합니다.

In [1]:
import os
import sys

path_name = os.path.dirname(os.path.abspath(os.path.dirname(os.getcwd())))
sys.path.append(path_name)
print(path_name)

/Users/moonygo/Downloads/nextopt-engine-engine-jungyoon

### 2. Read Libraries

In [12]:
from Engine.Data.IO import IO
from Engine.Data.transformer import Transformer
from Engine.Model.standard_model import *

In [13]:
import pandas as pd

### 3. Read Data

In [14]:
df = IO.read_pickle(path_name + '/Data/발주/order.pkl')

In [15]:
df.head()

     회사코드        일자  유형코드  수량
0  298141  20100101  1815   8
1  296285  20100101  1815  20
2  295537  20100101  1815   4
3  294932  20100101  1815  10
4  294837  20100101  1815  10

# 2. Preprocessing

### 1. Restruct Data by date & pallet

In [19]:
df_new = df.transformer.aggregate()

In [20]:
df_new.head()

,1025,1041,1057,1091,1111,1117,1119,1127,1163,1216,...,1797,1800,1815,1817,1852,1853,1878,1891,total,weekday
ds,,,,,,,,,,,,,,,,,,,,,
2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2652.0,NaN,NaN,NaN,NaN,NaN,2662.0,4
2010-01-02,192.0,6260.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,26443.0,NaN,NaN,459.0,626.0,NaN,39352.0,5
2010-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,404.0,NaN,NaN,NaN,NaN,NaN,404.0,6
2010-01-04,NaN,5141.0,NaN,320.0,NaN,NaN,NaN,NaN,NaN,NaN,...,576.0,NaN,22924.0,NaN,NaN,3445.0,3305.0,NaN,44906.0,0
2010-01-05,130.0,5494.0,NaN,1186.0,NaN,NaN,NaN,NaN,NaN,16.0,...,294.0,NaN,39081.0,320.0,NaN,3861.0,4362.0,238.0,69481.0,1

### 2. Split Train/Test Data

In [21]:
df_train, df_test= df_new[['1815']][:-30], df_new[['1815']][-30:]

In [22]:
df_train.columns = ['y']
df_test.columns = ['y']

In [23]:
df_train.tail()

                  y
ds
2017-10-27  80121.0
2017-10-28  49909.0
2017-10-29    320.0
2017-10-30  74045.0
2017-10-31  79806.0

In [24]:
df_test.head()

                  y
ds
2017-11-01  75861.0
2017-11-02  83256.0
2017-11-03  82649.0
2017-11-04  42707.0
2017-11-05    105.0

# 3. Run Engine Models

### 1. Exponential Moving Average

In [28]:
df_train = df_train.fillna(0)
df_test = df_test.fillna(0)

In [29]:
model = ExponentialMovingAverage(train = df_train, test = df_test, frequency=365)

In [30]:
model.fit_and_forecast(horizon=30)

In [31]:
model.fit_df.head()

                   yhat
ds
2010-01-01          NaN
2010-01-02  2652.000000
2010-01-03  3160.922949
2010-01-04  3101.948490
2010-01-05  3525.970049

In [34]:
model.fit_df[-10:]

                    yhat
ds
2017-10-22  60977.055480
2017-10-23  59673.076943
2017-10-24  60014.097098
2017-10-25  60501.155953
2017-10-26  60908.936997
2017-10-27  61383.720609
2017-10-28  61784.537367
2017-10-29  61530.502921
2017-10-30  60221.124178
2017-10-31  60516.836324

### 2. STL

In [ ]:
model = STL(train = df_train, test = df_test, frequency=365)

/Users/sailyourlife/anaconda3/envs/nextopt/lib/python3.6/site-packages/rpy2/rinterface/__init__.py:145: RRuntimeWarning: Error in loadNamespace(name) : there is no package called ‘forecast’

  warnings.warn(x, RRuntimeWarning)

There is no forecast package on your computer.

Start installing forecast package.
--- Please select a CRAN mirror for use in this session ---



Secure CRAN mirrors






 1: 0-Cloud [https]                   2: Algeria [https]
 3: Australia (Canberra) [https]      4: Australia (Melbourne 1) [https]
 5: Australia (Melbourne 2) [https]   6: Australia (Perth) [https]
 7: Austria [https]                   8: Belgium (Ghent) [https]
 9: Brazil (PR) [https]              10: Brazil (RJ) [https]
11: Brazil (SP 1) [https]            12: Brazil (SP 2) [https]
13: Bulgaria [https]                 14: Chile 1 [https]
15: Chile 2 [https]                  16: China (Guangzhou) [https]
17: China (Lanzhou) [https]          18: China (Shanghai 1) [https]
19: China (Shanghai 2) [https]       20: Colombia (Cali) [https]
21: Czech Republic [https]           22: Denmark [https]
23: East Asia [https]                24: Ecuador (Cuenca) [https]
25: Ecuador (Quito) [https]          26: Estonia [https]
27: France (Lyon 1) [https]          28: France (Lyon 2) [https]
29: France (Marseille) [https]       30: France (Montpellier) [https]
31: France (Paris 2) [https]         32: Germany (Erlangen) [https]
33: Germany (Göttingen) [https]      34: Germany (Münster) [https]
35: Greece [https]                   36: Iceland [https]
37: India [https]                    38: Indonesia (Jakarta) [https]
39: Ireland [https]                  40: Italy (Padua) [https]
41: Japan (Tokyo) [https]            42: Japan (Yonezawa) [https]
43: Korea (Seoul 1) [https]          44: Korea (Ulsan) [https]
45: Malaysia [https]                 46: Mexico (Mexico City) [https]
47: Norway [https]                   48: Philippines [https]
49: Serbia [https]                   50: Spain (A Coruña) [https]
51: Spain (Madrid) [https]           52: Sweden [https]
53: Switzerland [https]              54: Turkey (Denizli) [https]
55: Turkey (Mersin) [https]          56: UK (Bristol) [https]
57: UK (Cambridge) [https]           58: UK (London 1) [https]
59: USA (CA 1) [https]               60: USA (IA) [https]
61: USA (KS) [https]                 62: USA (MI 1) [https]
63: USA (NY) [https]                 64: USA (OR) [https]
65: USA (TN) [https]                 66: USA (TX 1) [https]
67: Vietnam [https]                  68: (other mirrors)






Selection: 51

In [10]:
model.fit_and_forecast(horizon=30)

NameError: name 'model' is not defined

In [ ]:
model.fit_df.head()

In [ ]:
model.forecast_df.head()

### 3. HoltWinters

In [69]:
model = HoltWinters(train = df_train, test = df_test, frequency=365)

In [70]:
model.fit_and_forecast(horizon=30)

In [71]:
model.fit_df.head()

            yhat  level  trend  season
ds
2010-01-01   NaN    NaN    NaN     NaN
2010-01-02   NaN    NaN    NaN     NaN
2010-01-03   NaN    NaN    NaN     NaN
2010-01-04   NaN    NaN    NaN     NaN
2010-01-05   NaN    NaN    NaN     NaN

In [72]:
model.forecast_df.head()

,yhat,yhat_lower_80,yhat_upper_80,yhat_lower_95,yhat_upper_95
ds,,,,,
2017-11-01,66767.404615,32995.511976,100539.297255,15117.751926,118417.057304
2017-11-02,63819.504948,30047.553697,97591.456199,12169.762621,115469.247275
2017-11-03,74679.807605,40907.795897,108451.819313,23029.972817,126329.642394
2017-11-04,71338.184678,37566.110638,105110.258718,19688.254562,122988.114795
2017-11-05,57284.077937,23511.939662,91056.216211,5634.049582,108934.106292

### 4. Arima with no seasonality

In [73]:
model = AutoArima(train=df_train, test=df_test, frequency=365, seasonal=False)

In [74]:
model.fit_and_forecast(horizon=30)

In [75]:
model.fit_df.head()

                    yhat
ds
2010-01-01   2649.358778
2010-01-02   9982.394979
2010-01-03  16243.484076
2010-01-04   4153.230515
2010-01-05  25571.597658

In [76]:
model.forecast_df.head()

,yhat,yhat_lower_80,yhat_upper_80,yhat_lower_95,yhat_upper_95
ds,,,,,
2017-11-01,71579.370353,47511.876574,95646.864133,34771.314966,108387.425740
2017-11-02,73256.446564,48265.997178,98246.895950,35036.852386,111476.040742
2017-11-03,53489.707234,27189.437915,79789.976553,13266.916334,93712.498134
2017-11-04,57201.150290,30149.085947,84253.214633,15828.588120,98573.712461
2017-11-05,55786.964318,27817.910886,83756.017751,13011.988357,98561.940280

### 5. Arima with seasonality

In [77]:
model = AutoArima(train=df_train, test=df_test, frequency=365, seasonal=True)

In [78]:
model.fit_and_forecast(horizon=30)

In [79]:
model.fit_df.head()

                    yhat
ds
2010-01-01   2649.358778
2010-01-02   9982.394979
2010-01-03  16243.484076
2010-01-04   4153.230515
2010-01-05  25571.597658

In [80]:
model.forecast_df.head()

,yhat,yhat_lower_80,yhat_upper_80,yhat_lower_95,yhat_upper_95
ds,,,,,
2017-11-01,71579.370353,47511.876574,95646.864133,34771.314966,108387.425740
2017-11-02,73256.446564,48265.997178,98246.895950,35036.852386,111476.040742
2017-11-03,53489.707234,27189.437915,79789.976553,13266.916334,93712.498134
2017-11-04,57201.150290,30149.085947,84253.214633,15828.588120,98573.712461
2017-11-05,55786.964318,27817.910886,83756.017751,13011.988357,98561.940280

이후에는 Multi-Seasonality를 적용할 수 있는 알고리즘입니다.

#### 이 때에는 frequency를 list로 작성해야 합니다.

### 6. TBATS with single seasonality

In [81]:
model = TBATS(train=df_train, test=df_test, frequency=[365])

In [82]:
model.fit_and_forecast(horizon=30)

In [83]:
model.fit_df.head()

                    yhat
ds
2010-01-01  28206.742183
2010-01-02  25855.619666
2010-01-03  32707.764133
2010-01-04  25209.209820
2010-01-05  35362.071673

In [84]:
model.forecast_df.head()

,yhat,yhat_lower_80,yhat_upper_80,yhat_lower_95,yhat_upper_95
ds,,,,,
2017-11-01,78380.381719,57406.763196,99363.898688,46309.168208,110475.149351
2017-11-02,71607.982648,50549.919165,92676.997183,39408.344878,103833.782523
2017-11-03,52890.110003,31533.071000,74262.615549,20236.906332,85581.123021
2017-11-04,45201.521983,23852.069702,66569.268875,12562.941839,77885.826487
2017-11-05,46526.766494,25128.178291,67943.169741,13812.457415,79285.395983

### 7. TBATS with multi seasonality

In [85]:
model = TBATS(train=df_train, test=df_test, frequency=[7,365])

In [86]:
model.fit_and_forecast(horizon=30)

In [87]:
model.fit_df.head()

                    yhat
ds
2010-01-01  29341.866794
2010-01-02  23428.333536
2010-01-03  31791.749076
2010-01-04  23801.808569
2010-01-05  21050.809868

In [88]:
model.forecast_df.head()

,yhat,yhat_lower_80,yhat_upper_80,yhat_lower_95,yhat_upper_95
ds,,,,,
2017-11-01,70364.031396,53789.864637,86938.198156,45016.030742,95712.032051
2017-11-02,60990.611382,44405.314556,77575.908208,35625.588759,86355.634005
2017-11-03,76604.568678,59978.106309,93231.031048,51176.588790,102032.548567
2017-11-04,62657.444395,46028.086750,79286.802040,37225.036565,88089.852225
2017-11-05,32175.490650,15505.559598,48845.421703,6681.031149,57669.950152

### 8. AutoRegressiveNN with single seasonality

In [38]:
model = AutoRegressiveNN(train=df_train, test=df_test, frequency=[365])

In [39]:
model.fit_and_forecast(horizon=30)

In [40]:
model.fit_df.head()

            yhat
ds
2010-01-01   NaN
2010-01-02   NaN
2010-01-03   NaN
2010-01-04   NaN
2010-01-05   NaN

In [41]:
model.forecast_df.head()

                    yhat
ds
2017-11-01  52603.573654
2017-11-02  54437.192296
2017-11-03  40069.947986
2017-11-04  20378.247030
2017-11-05   3945.816837

### 9. AutoRegressiveNN with multi seasonality

In [89]:
model = AutoRegressiveNN(train=df_train, test=df_test, frequency=[7,365])

In [90]:
model.fit_and_forecast(horizon=30)

In [91]:
model.fit_df.head()

            yhat
ds
2010-01-01   NaN
2010-01-02   NaN
2010-01-03   NaN
2010-01-04   NaN
2010-01-05   NaN

In [92]:
model.forecast_df.head()

                    yhat
ds
2017-11-01  60774.663162
2017-11-02  62823.215876
2017-11-03  49237.259562
2017-11-04  25184.301459
2017-11-05   1067.699702

# 4. Check the Evaluation Rate of Result

In [93]:
result= Evaluator(df_test, model.forecast_df)

In [94]:
result.rmse

19340.4555081345

In [95]:
result.mape

3056.6410553753494

In [96]:
result.smape

26.395078551493107